<a href="https://colab.research.google.com/github/epark21/DSBA6400/blob/master/internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
df=pd.read_csv('gdrive/My Drive/week5.csv')

In [ ]:
yahoo=pd.read_csv('gdrive/My Drive/Colab Notebooks/week5yahoo.csv')

In [ ]:
df

          gvkey iid  datadate  tic                         conm    div    prccd
0          1004  01  20200102  AIR                     AAR CORP  0.075  45.7500
1          1004  01  20200103  AIR                     AAR CORP    NaN  45.7100
2          1004  01  20200106  AIR                     AAR CORP    NaN  45.6000
3          1004  01  20200107  AIR                     AAR CORP    NaN  45.5400
4          1004  01  20200108  AIR                     AAR CORP    NaN  46.7700
...         ...  ..       ...  ...                          ...    ...      ...
2228190  335466  01  20200624  PSV  HERMITAGE OFFSHORE SERVICES    NaN   0.7500
2228191  335466  01  20200625  PSV  HERMITAGE OFFSHORE SERVICES    NaN   0.7111
2228192  335466  01  20200626  PSV  HERMITAGE OFFSHORE SERVICES    NaN   0.6200
2228193  335466  01  20200629  PSV  HERMITAGE OFFSHORE SERVICES    NaN   0.6000
2228194  335466  01  20200630  PSV  HERMITAGE OFFSHORE SERVICES    NaN   0.5184

[2228195 rows x 7 columns]

In [ ]:
df['div'] = df['div'].fillna(0)

In [ ]:
df.shape

(2228195, 7)

In [ ]:
df.columns

Index(['gvkey', 'iid', 'datadate', 'tic', 'conm', 'div', 'prccd'], dtype='object')

In [ ]:
df.head()

   gvkey iid  datadate  tic      conm    div  prccd
0   1004  01  20200102  AIR  AAR CORP  0.075  45.75
1   1004  01  20200103  AIR  AAR CORP  0.000  45.71
2   1004  01  20200106  AIR  AAR CORP  0.000  45.60
3   1004  01  20200107  AIR  AAR CORP  0.000  45.54
4   1004  01  20200108  AIR  AAR CORP  0.000  46.77

In [ ]:
df['pprccd'] = df.prccd.shift(1)

In [ ]:
df['pprccd']

0              NaN
1          45.7500
2          45.7100
3          45.6000
4          45.5400
            ...
2228190     0.7121
2228191     0.7500
2228192     0.7111
2228193     0.6200
2228194     0.6000
Name: pprccd, Length: 2228195, dtype: float64

In [ ]:
df.columns

Index(['gvkey', 'iid', 'datadate', 'tic', 'conm', 'div', 'prccd', 'pprccd'], dtype='object')

In [ ]:
df.head()

   gvkey iid  datadate  tic      conm    div  prccd  pprccd
0   1004  01  20200102  AIR  AAR CORP  0.075  45.75     NaN
1   1004  01  20200103  AIR  AAR CORP  0.000  45.71   45.75
2   1004  01  20200106  AIR  AAR CORP  0.000  45.60   45.71
3   1004  01  20200107  AIR  AAR CORP  0.000  45.54   45.60
4   1004  01  20200108  AIR  AAR CORP  0.000  46.77   45.54

In [ ]:
df.loc[df.datadate == 20200102, 'pprccd'] = 0

In [ ]:
df.head(7993)

      gvkey iid  datadate  ...    div  prccd  pprccd
0      1004  01  20200102  ...  0.075  45.75    0.00
1      1004  01  20200103  ...  0.000  45.71   45.75
2      1004  01  20200106  ...  0.000  45.60   45.71
3      1004  01  20200107  ...  0.000  45.54   45.60
4      1004  01  20200108  ...  0.000  46.77   45.54
...     ...  ..       ...  ...    ...    ...     ...
7988   1526  01  20200630  ...  0.000  72.07   71.15
7989   1545  03  20200102  ...  0.000  16.33    0.00
7990   1545  03  20200103  ...  0.000  16.15   16.33
7991   1545  03  20200106  ...  0.000  15.97   16.15
7992   1545  03  20200107  ...  0.000  16.40   15.97

[7993 rows x 8 columns]

In [ ]:
stockdailyreturn = (df["prccd"] + df["div"] - df["pprccd"])/ df["pprccd"]
df["stockdailyreturn"] = stockdailyreturn

In [ ]:
df.head(7993)

      gvkey iid  datadate   tic  ...    div  prccd  pprccd  stockdailyreturn
0      1004  01  20200102   AIR  ...  0.075  45.75    0.00               inf
1      1004  01  20200103   AIR  ...  0.000  45.71   45.75         -0.000874
2      1004  01  20200106   AIR  ...  0.000  45.60   45.71         -0.002406
3      1004  01  20200107   AIR  ...  0.000  45.54   45.60         -0.001316
4      1004  01  20200108   AIR  ...  0.000  46.77   45.54          0.027009
...     ...  ..       ...   ...  ...    ...    ...     ...               ...
7988   1526  01  20200630  ANAT  ...  0.000  72.07   71.15          0.012930
7989   1545  03  20200102   ARL  ...  0.000  16.33    0.00               inf
7990   1545  03  20200103   ARL  ...  0.000  16.15   16.33         -0.011023
7991   1545  03  20200106   ARL  ...  0.000  15.97   16.15         -0.011146
7992   1545  03  20200107   ARL  ...  0.000  16.40   15.97          0.026925

[7993 rows x 9 columns]

In [ ]:
df

          gvkey iid  datadate  tic  ...    div    prccd   pprccd  stockdailyreturn
0          1004  01  20200102  AIR  ...  0.075  45.7500   0.0000               inf
1          1004  01  20200103  AIR  ...  0.000  45.7100  45.7500         -0.000874
2          1004  01  20200106  AIR  ...  0.000  45.6000  45.7100         -0.002406
3          1004  01  20200107  AIR  ...  0.000  45.5400  45.6000         -0.001316
4          1004  01  20200108  AIR  ...  0.000  46.7700  45.5400          0.027009
...         ...  ..       ...  ...  ...    ...      ...      ...               ...
2228190  335466  01  20200624  PSV  ...  0.000   0.7500   0.7121          0.053223
2228191  335466  01  20200625  PSV  ...  0.000   0.7111   0.7500         -0.051867
2228192  335466  01  20200626  PSV  ...  0.000   0.6200   0.7111         -0.128111
2228193  335466  01  20200629  PSV  ...  0.000   0.6000   0.6200         -0.032258
2228194  335466  01  20200630  PSV  ...  0.000   0.5184   0.6000         -0.136000

[2228195 rows x 9 columns]

In [ ]:
yahoo

         Date     S&Pindex  MarketDailyReturn
0    20200102  3257.850098                NaN
1    20200103  3234.850098          -0.007060
2    20200106  3246.280029           0.003533
3    20200107  3237.179932          -0.002803
4    20200108  3253.050049           0.004902
..        ...          ...                ...
120  20200624  3050.330078          -0.025855
121  20200625  3083.760010           0.010959
122  20200626  3009.050049          -0.024227
123  20200629  3053.239990           0.014686
124  20200630  3100.290039           0.015410

[125 rows x 3 columns]

In [ ]:
df_yahoo = yahoo.rename(columns={'Date': 'datadate'})

In [ ]:
df_yahoo.head()

   datadate     S&Pindex  MarketDailyReturn
0  20200102  3257.850098                NaN
1  20200103  3234.850098          -0.007060
2  20200106  3246.280029           0.003533
3  20200107  3237.179932          -0.002803
4  20200108  3253.050049           0.004902

In [ ]:
df2=pd.merge(df,df_yahoo,on="datadate",how="outer")

In [ ]:
df2.shape

(2228195, 11)

In [ ]:
df2.head(18000)

       gvkey  iid  datadate  ... stockdailyreturn     S&Pindex  MarketDailyReturn
0       1004   01  20200102  ...              inf  3257.850098                NaN
1       1019   01  20200102  ...              inf  3257.850098                NaN
2       1021   01  20200102  ...              inf  3257.850098                NaN
3       1045   04  20200102  ...              inf  3257.850098                NaN
4       1050   01  20200102  ...              inf  3257.850098                NaN
...      ...  ...       ...  ...              ...          ...                ...
17995   2408   01  20200103  ...        -0.002834  3234.850098           -0.00706
17996   2408  01C  20200103  ...        -0.001984  3234.850098           -0.00706
17997   2410   90  20200103  ...         0.018091  3234.850098           -0.00706
17998   2435   01  20200103  ...         0.004175  3234.850098           -0.00706
17999   2435   02  20200103  ...         0.002544  3234.850098           -0.00706

[18000 rows x 11 columns]

In [ ]:
df2

          gvkey  iid  ...     S&Pindex MarketDailyReturn
0          1004   01  ...  3257.850098               NaN
1          1019   01  ...  3257.850098               NaN
2          1021   01  ...  3257.850098               NaN
3          1045   04  ...  3257.850098               NaN
4          1050   01  ...  3257.850098               NaN
...         ...  ...  ...          ...               ...
2228190  328692  01C  ...          NaN               NaN
2228191  329579  01C  ...          NaN               NaN
2228192   24368   02  ...          NaN               NaN
2228193   31346   01  ...          NaN               NaN
2228194  203442   90  ...          NaN               NaN

[2228195 rows x 11 columns]

In [ ]:
df2['stockdailyreturn'] = df2['stockdailyreturn'].fillna(0)

In [ ]:
df2['MarketDailyReturn'] = df2['MarketDailyReturn'].fillna(0)

In [ ]:
df2.head()

   gvkey iid  datadate  ... stockdailyreturn     S&Pindex  MarketDailyReturn
0   1004  01  20200102  ...              inf  3257.850098                0.0
1   1019  01  20200102  ...              inf  3257.850098                0.0
2   1021  01  20200102  ...              inf  3257.850098                0.0
3   1045  04  20200102  ...              inf  3257.850098                0.0
4   1050  01  20200102  ...              inf  3257.850098                0.0

[5 rows x 11 columns]

In [ ]:
abovemarketdailyreturn = (df2["stockdailyreturn"] - df2["MarketDailyReturn"])
df2["abovemarketdailyreturn"] = abovemarketdailyreturn

In [ ]:
df2.head(20000)

       gvkey  iid  ...  MarketDailyReturn abovemarketdailyreturn
0       1004   01  ...            0.00000                    inf
1       1019   01  ...            0.00000                    inf
2       1021   01  ...            0.00000                    inf
3       1045   04  ...            0.00000                    inf
4       1050   01  ...            0.00000                    inf
...      ...  ...  ...                ...                    ...
19995  15671   91  ...           -0.00706              -0.009710
19996  15677   90  ...           -0.00706              -0.008519
19997  15679   91  ...           -0.00706               0.003628
19998  15688   90  ...           -0.00706               0.003556
19999  15689  01C  ...           -0.00706               0.007060

[20000 rows x 12 columns]

In [ ]:
df2.head()

   gvkey iid  datadate  ...     S&Pindex MarketDailyReturn  abovemarketdailyreturn
0   1004  01  20200102  ...  3257.850098               0.0                     inf
1   1019  01  20200102  ...  3257.850098               0.0                     inf
2   1021  01  20200102  ...  3257.850098               0.0                     inf
3   1045  04  20200102  ...  3257.850098               0.0                     inf
4   1050  01  20200102  ...  3257.850098               0.0                     inf

[5 rows x 12 columns]

In [ ]:
df2.shape

(2228195, 12)

In [ ]:
tvl=pd.read_stata('gdrive/My Drive/Colab Notebooks/TVL_data_2020_US.dta')

In [ ]:
df_tvl = tvl.rename(columns={'ticker': 'tic'})

In [ ]:
df_tvl

         tic  year  month  ...  parentcompany  allcategories  materiality
0        04S  2020      1  ...                           NaN          NaN
1        04S  2020      1  ...                           NaN          NaN
2        04S  2020      1  ...                           NaN          NaN
3        04S  2020      1  ...                           NaN          NaN
4        04S  2020      1  ...                           NaN          NaN
...      ...   ...    ...  ...            ...            ...          ...
1179271  ZZ9  2020      7  ...                           NaN          NaN
1179272  ZZ9  2020      7  ...                           NaN          NaN
1179273  ZZ9  2020      7  ...                           NaN          NaN
1179274  ZZ9  2020      7  ...                           NaN          NaN
1179275  ZZ9  2020      7  ...                           NaN          NaN

[1179276 rows x 50 columns]

In [ ]:
df_tvl2 = df_tvl.rename(columns={
'cus_sub1': 'accessandaffordability cus_sub1', 
'cus_sub2': 'competitivebehavior cus_sub2' , 
'cus_sub3': 'customerprivacy cus_sub3',
'cus_sub4': 'customerwelfare cus_sub4', 
'cus_sub5': 'productdesignandlifecyclemanagem cus_sub5', 
'cus_sub6': 'productqualityandsafety cus_sub6', 
'cus_sub7': 'sellingpracticesandproductlabeli cus_sub7',
'emp_sub1': 'employeeengagementdiversityandin emp_sub1',
'emp_sub2': 'employeehealthandsafety emp_sub2',
'emp_sub3': 'laborpractices emp_sub3',
'env_sub1': 'airquality env_sub1',
'env_sub2': 'ecologicalimpacts env_sub2',
'env_sub3': 'energymanagement env_sub3',
'env_sub4': 'ghgemissions env_sub4',     
'env_sub5': 'materialssourcingandefficiency env_sub5',
'env_sub6': 'physicalimpactsofclimatechange env_sub6',
'env_sub7': 'wasteandhazardousmaterialsmanage env_sub7',
'env_sub8': 'waterandwastewatermanagement env_sub8',
'oth_sub1': 'businessethics oth_sub1',
'oth_sub2': 'businessmodelresilience oth_sub2',
'oth_sub3': 'criticalincidentriskmanagement oth_sub3',
'oth_sub4': 'datasecurity oth_sub4',
'oth_sub5': 'managementofthelegalandregulator oth_sub5',
'oth_sub6': 'supplychainmanagement oth_sub6',
'oth_sub7': 'systemicriskmanagement oth_sub7' })

In [ ]:
df_tvl2.head()

   tic  year  month  ...  parentcompany  allcategories  materiality
0  04S  2020      1  ...                           NaN          NaN
1  04S  2020      1  ...                           NaN          NaN
2  04S  2020      1  ...                           NaN          NaN
3  04S  2020      1  ...                           NaN          NaN
4  04S  2020      1  ...                           NaN          NaN

[5 rows x 50 columns]

In [ ]:
df_tvl2.tail()

         tic  year  month  ...  parentcompany  allcategories  materiality
1179271  ZZ9  2020      7  ...                           NaN          NaN
1179272  ZZ9  2020      7  ...                           NaN          NaN
1179273  ZZ9  2020      7  ...                           NaN          NaN
1179274  ZZ9  2020      7  ...                           NaN          NaN
1179275  ZZ9  2020      7  ...                           NaN          NaN

[5 rows x 50 columns]

In [ ]:
import datetime

In [ ]:
df_tvl2['date'] =  pd.to_datetime(df_tvl2['date'])

In [ ]:
df_tvl2['datadate'] = df_tvl2['date'].apply(lambda x: x.strftime('%Y%m%d')).astype(int)

In [ ]:
df_tvl2

         tic  year  month  ...  allcategories  materiality  datadate
0        04S  2020      1  ...            NaN          NaN  20200101
1        04S  2020      1  ...            NaN          NaN  20200102
2        04S  2020      1  ...            NaN          NaN  20200103
3        04S  2020      1  ...            NaN          NaN  20200104
4        04S  2020      1  ...            NaN          NaN  20200105
...      ...   ...    ...  ...            ...          ...       ...
1179271  ZZ9  2020      7  ...            NaN          NaN  20200704
1179272  ZZ9  2020      7  ...            NaN          NaN  20200705
1179273  ZZ9  2020      7  ...            NaN          NaN  20200706
1179274  ZZ9  2020      7  ...            NaN          NaN  20200707
1179275  ZZ9  2020      7  ...            NaN          NaN  20200708

[1179276 rows x 51 columns]

In [ ]:
ticker=pd.read_csv('gdrive/My Drive/Colab Notebooks/ticker.csv')

In [ ]:
ticker

      tic
0     MMM
1     AOS
2     ABT
3    ABBV
4    ABMD
..    ...
500   YUM
501  ZBRA
502   ZBH
503  ZION
504   ZTS

[505 rows x 1 columns]

In [ ]:
newdf=pd.merge(df_tvl2,ticker, on=["tic"])

In [ ]:
newdf

       tic  year  month  ...  allcategories  materiality  datadate
0        A  2020      1  ...      86.014479    52.387727  20200101
1        A  2020      1  ...      86.014479    52.387727  20200102
2        A  2020      1  ...      86.014479    52.387727  20200103
3        A  2020      1  ...      86.014479    52.387727  20200104
4        A  2020      1  ...      86.014479    52.387727  20200105
...    ...   ...    ...  ...            ...          ...       ...
91005  ZTS  2020      7  ...      67.786184    67.877853  20200704
91006  ZTS  2020      7  ...      67.786184    67.877853  20200705
91007  ZTS  2020      7  ...      67.786184    67.877853  20200706
91008  ZTS  2020      7  ...      67.786184    67.877853  20200707
91009  ZTS  2020      7  ...      67.786184    67.877853  20200708

[91010 rows x 51 columns]

In [ ]:
#df3=pd.merge(df_tvl2,df2,on=["tic","datadate"])

In [ ]:
#df3

         tic  year  ...  MarketDailyReturn  abovemarketdailyreturn
0          A  2020  ...           0.000000                     inf
1          A  2020  ...          -0.007060               -0.008996
2          A  2020  ...           0.003533               -0.000577
3          A  2020  ...          -0.002803                0.005869
4          A  2020  ...           0.004902                0.004971
...      ...   ...  ...                ...                     ...
474774  ZYXI  2020  ...          -0.025855               -0.004958
474775  ZYXI  2020  ...           0.010959                0.037790
474776  ZYXI  2020  ...          -0.024227               -0.053380
474777  ZYXI  2020  ...           0.014686                0.001090
474778  ZYXI  2020  ...           0.015410                0.057498

[474779 rows x 61 columns]

In [ ]:
covid=pd.read_stata('gdrive/My Drive/Colab Notebooks/covid_daily_allstates.dta')

In [ ]:
covid

          date state  positive  ...  positivescore  score  grade
0     20200306    AK       0.0  ...              0      0    NaN
1     20200307    AK       0.0  ...              0      0    NaN
2     20200308    AK       0.0  ...              0      0    NaN
3     20200309    AK       0.0  ...              0      0    NaN
4     20200310    AK       0.0  ...              0      0    NaN
...        ...   ...       ...  ...            ...    ...    ...
7124  20200706    WY    1634.0  ...              0      0    NaN
7125  20200707    WY    1711.0  ...              0      0    NaN
7126  20200708    WY    1740.0  ...              0      0    NaN
7127  20200709    WY    1774.0  ...              0      0    NaN
7128  20200710    WY    1790.0  ...              0      0    NaN

[7129 rows x 41 columns]

In [ ]:
covid.columns

Index(['date', 'state', 'positive', 'negative', 'pending',
       'hospitalizedcurrently', 'hospitalizedcumulative', 'inicucurrently',
       'inicucumulative', 'onventilatorcurrently', 'onventilatorcumulative',
       'recovered', 'dataqualitygrade', 'lastupdateet', 'datemodified',
       'checktimeet', 'death', 'hospitalized', 'datechecked',
       'totaltestsviral', 'positivetestsviral', 'negativetestsviral',
       'positivecasesviral', 'deathconfirmed', 'deathprobable', 'fips',
       'positiveincrease', 'negativeincrease', 'total', 'totaltestresults',
       'totaltestresultsincrease', 'posneg', 'deathincrease',
       'hospitalizedincrease', 'hash', 'commercialscore',
       'negativeregularscore', 'negativescore', 'positivescore', 'score',
       'grade'],
      dtype='object')

In [ ]:
covid.to_csv('covid.csv')